html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#stabb.parent {
    display: flex; 
    height: 100vh;
}

#stabb .scene_and_info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*
Container section for the scene
 */
#stabb .scene_c {
    /* height: 50%; */
    background: black;
}

/*
the scene itself;
 width and height have to be defined as direct attributes (by js) unless we want scaling
 */
#stabb .scene_c canvas {
    padding: 0;
    margin: 0;
    width: 100%;
}

/*
Level instructions section
 */
#stabb .info_level {
    background: floralwhite;
    width: 50%;
    max-height: 100vh;
    overflow-y: auto;
}

#stabb .info_level > div {
    padding: 2em;
}

#stabb .info_level blockquote {
    margin-left: 1em;
    padding: 0.3em 1em;
    border-left: solid 1px #bbb;
    background-color: #efefef;
    font-size: 85%;
}
#stabb .info_level :not(pre) > code {
    display: inline-block;
    background-color: white;
    color: #333;
    padding: 0.1em 0.4em;
    border: solid 1px #bbb;
    border-radius: 2px;
}


/*
Info section
 */
#stabb .game_log {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 50%;
    background: dimgray;
    color: lightblue;
}

#stabb .game_log nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}


/*
Code
 */
.stabb pre {
    background: black;
    padding: 1.5em 1em;
    border: solid 1px green;
    border-radius: 3px;
    color: lightblue;
}


#stabb .finish_msg {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    max-height: 43vh;
    background-color: #324;
    font-size: 200%;
    overflow-y: auto;
    font-weight: bold;
}

#stabb .finish_msg.visible {
    display: block;
}
