html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

div.stabb.parent {
    display: flex; 
    height: 100vh;
}

.stabb .scene_and_info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*
Container section for the scene
 */
.stabb .scene_c {
    height: 50%;
    background: green;
}

/*
the scene itself;
 width and height have to be defined as direct attributes (by js) unless we want scaling
 */
.stabb .scene_c canvas {
    padding: 0;
    margin: 0;
}

/*
Editor section
 */
.stabb .info_level {
    background: floralwhite;
    width: 50%;
    max-height: 100vh;
}

.stabb .info_level > div {
    padding: 2em;
    overflow-y: auto;
}

/*
Info section
 */
.stabb .info_globale {
    height: 50%;
    background: dimgray;
    color: lightblue;
}
.stabb .info_globale > div {
    padding: 2em;
    overflow-y: auto;
    max-height: 43vh;
}


/*
Code
 */
.stabb pre {
    background: black;
    padding: 1.5em 1em;
    border: solid 1px green;
    border-radius: 3px;
    color: lightblue;
}